/* Estilos generales para pantallas grandes */
.fullplusbutton-resp {
  display: block;
}

.smallplusbutton-resp {
  display: none;
}

.dialogForm-resp {
  width: 50vw;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 800px) {
  .fullplusbutton-resp {
    display: none;
  }

  .smallplusbutton-resp {
    display: flex;
    visibility: visible;
  }

  .dialogForm-resp {
    width: 70vw;
  }
}