.datatable-doc-demo .p-paginator .p-paginator-current {
    margin-left: auto;
}

.datatable-doc-demo .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;
}

.datatable-doc-demo .p-progressbar .p-progressbar-value {
    background-color: #ff0000;
}

.datatable-doc-demo .p-datepicker {
    min-width: 25rem;
}

.datatable-doc-demo .p-datepicker td {
    font-weight: 400;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead>tr>th {
    text-align: left;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

/* styles.css */
.datatable-margin {
    margin: 50px;
}

.tender-status.stage0 {
    background-color: #00ff00;
}

.tender-status.stage1 {
    background-color: #0074d9;
}

.tender-status.stage2 {
    background-color: #ffd700;
}

.tender-status.stage3 {
    background-color: #ff5733;
}

.tender-status.stage4 {
    background-color: #ff009d;
}

.tender-status.stage5 {
    background-color: #8b008b;
}

.tender-status.stage6 {
    background-color: #ff9bf2;
}

.tender-status.stage7 {
    background-color: #001f3f;
}

.tender-status.stage8 {
    background-color: #ffff00;
}

.tender-status.stage9 {
    background-color: #800080;
}

.tender-status.stage10 {
    background-color: #00ced1;
}

.tender-status.stage11 {
    background-color: #4169e1;
}

.tender-status.stage12 {
    background-color: #ff0000;
}

.tender-status {
    background-color: rgb(0, 0, 0);
}

.spinner-container {
    position: fixed;
    /* Establece la posición fija para que esté en la misma posición independientemente de la posición de desplazamiento */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Agrega un fondo semi-transparente para desenfocar el contenido detrás del spinner */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Establece un alto z-index para asegurarte de que esté sobre otros elementos */
}