 @media (max-width: 800px) {
     .background .card-body {
         width: 20rem;
     }
 }

 .background {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #4F46E5;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
 }

 .card-body {
     width: 28rem;
     text-align: center
 }